<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ResellVault - All Products</title>
</head>
<body>
<h1>ResellVault - All Products</h1>

<table border="1" cellpadding="8">
<tr>
<th>Name</th>
<th>Image</th>
<th>Price</th>
<th>Quantity</th>
<th>Category</th>
<th>Edit</th>
</tr>
<% for(let i = 0; i < products.length; i++) { %>
<tr>
<td><%= products[i].name %></td>
<td><img src="/images/<%= products[i].image %>" alt="<%= products[i].name %>" width="100"></td>
<td>$<%= products[i].price %></td>
<td><%= products[i].quantity %></td>
<td><%= products[i].category %></td>
<td><a href="/editProduct/<%= products[i].product_id %>">Edit</a></td>
</tr>
<% } %>
</table>
</body>
</html>